@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,600;0,700;0,800;1,500&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  background-color: black;
}

*::before{
  box-sizing: border-box;
}
*::after{
  box-sizing: border-box;
}
.hero-section {
  min-height: 85vh;
  position: relative;
}
.container {
  position: absolute;
  width: 100%;
}
.topnav {
  overflow: hidden;
  background-color: #D9D9D9;
  margin: 25px;
  margin-top: 25px;
  position: sticky; 
  top: 0;
  z-index: 1;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 650;
  font-size: 14.5px;
  color: black;
  background-color: #D9D9D9;
}

.topnav a:hover {
  background: #404040;
  color: #D9D9D9;
}

.about-container {
  display: flex;
  margin: 20px 0px; 
}
.text-container {
  flex:1.1;
  margin-top: 10%;
  margin-left: 5%;
  color: #D9D9D9;
}
.text-container h1{
  font-size: 120px;
  margin-top: -30px;
  margin-top: -36px;
  color: transparent;
  -webkit-text-stroke: 1px #D9D9D9;
  background: url(images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}
.img-container{
  flex: 1;
  height: 70vh;
  margin-top:  10.2%;
  width: 70%;
  margin-right: 5%;

}

/*"height: 60vh; width: 100%;" for images*/
.img-container .carousel{
  width: 100%;
  height: 60vh;
  position: relative;
}

.img-container .carousel .slides{
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.img-container .carousel .slides > img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.img-container .carousel .slides[data-active]{
  opacity: 1;
  transition-delay: 0ms;
}

.img-container .carousel .carousel-button{
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0rem .32rem;
  background-color: rgba(0, 0, 0, .1);
}
.img-container .carousel .carousel-button:hover,
.img-container .carousel .carousel-button:focus{
  color: #D9D9D9;
  background-color: rgba(0, 0, 0, .2);
}

.img-container .carousel .carousel-button:focus{
  outline: 1px solid black;
}

.img-container .carousel .carousel-button.prev{
  left: 1rem;
}
.img-container .carousel .carousel-button.next{
  right: 1rem;
}