@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,600;0,700;0,800;1,500&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(0, 0, 0);
  
}


.hero-section {
  min-height: 85vh;
  position: relative;
}
.container {
  position: absolute;
  width: 100%;
}
.topnav {
  overflow: hidden;
  background-color: #D9D9D9;
  margin: 25px;
  position: sticky; 
  top: 0;
  z-index: 1;
  transition: .4s;
}
  
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 650;
  font-size: 14.5px;
  color: black;
  background-color: #D9D9D9;
  transition: .4s;
}
  
.topnav a:hover {
  background: #404040;
  color: #D9D9D9;
  transition: .4s;
}

.watch-content-flexer{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  text-decoration: none;

}
.first-box{
  margin-top: 8%;
  width: 30%;
  height: 50vh;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 99.99%, rgba(167, 163, 163, 0.00) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.second-box{
  margin-top: 8%;
  width: 30%;
  height: 50vh;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 99.99%, rgba(167, 163, 163, 0.00) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.third-box{
  margin-top: 8%;
  width: 30%;
  height: 50vh;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 99.99%, rgba(167, 163, 163, 0.00) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.events-container {
  margin-top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.onefc-text{

  margin-bottom: 0px;
  color: #D9D9D9;
  text-align: center;
  align-items: center;
}
/* Set a maximum width for the event cards */
.onefc-events, .ufc-events, .belator-events {
  max-width: 300px; /* Adjust this value as needed */
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

/* Ensure that images scale proportionally */
.onefc-events img, .ufc-events img, .belator-events img {
  max-width: 100%;
  height: auto;
}

/* Center align text in the event cards */
.onefc-events h3, .ufc-events h3, .belator-events h3 {
  text-align: center;
}
.section-blur{
  width: 100%;
  height: 5vh;
  background-color: #090101;
  opacity: .99;
}
.watch-belattor-section{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  text-decoration: none;
}
.logo-ufc{
  margin-top: 10px;
  align-items: center;
  text-align: center;
  margin-bottom: -20px;
}